body {
  font-family: -apple-system;
  background: #f2f2f7;
}

.container {
  padding: 15px;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.task {
  background: white;
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
}